<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="_fragments::head(~{::title})">
        <meta charset="UTF-8">
        <title>Blog-照片墙</title>
    </head>
    <body>
        <!--导航栏-->
        <nav th:replace="_fragments::menu(7)"></nav>
        <!--顶部图片-->
        <div class="m-bg-type_outer" style="width: 100%;height: 40%">
            <img src="../static/images/blog_bg_06.png" th:src="@{images/blog_bg_06.png}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
            <div class="m-bg-class_cover">
                <div class="ui container" style="position: relative ;bottom: -540px;">
                    <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
                    <div class="m-font-size-text-init-title m-margin-top" align="center">九江阁上扶头。城鸦唤我醉归休。细雨斜风时候。</div>
                </div>
            </div>
        </div>
        <!--照片墙-->
        <div id="picture-main">

            <article class="thumb" th:each="picture : ${pictures}">
                <div class="ma5-gallery">
                    <div class="rthumbnail">
                        <a href="../static/images/backimg1.jpg" th:href="@{${picture.pictureaddress}}">
                            <img class="picture-zmki_px" src="../static/images/bg.jpg" th:src="@{${picture.pictureaddress}}">
                        </a>
                        <div class="m-picture-text" th:text="${picture.picturename}">照片名</div>
                        <div  class="rcaption">
                            <div style="font-size: large;" th:text="${picture.picturename}">照片名</div>
                            <div style="font-size: 16px" class="m-margin-top" th:text="${picture.picturetime}">2020-03-15 &nbsp;山东</div>
                            <p style="font-size: 16px" th:text="${picture.picturedescription}">我曾难自拔于世界之大，也沉迷于其中梦话</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!--悬浮框-->
        <div id="toolbar" class="m-padded-tb-large m-fixed m-right-bottom">
            <a href="#" class="ui teal icon button"><i class="chevron up icon"></i> </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--页脚-->
        <footer th:replace="_fragments::footer"></footer>

        <!--script-->
        <!--/*/<th:block th:replace="_fragments :: script">/*/-->
        <!--/*/</th:block>/*/-->
        <script src="../static/lib/picture/js/jkresponsivegallery.js" th:src="@{/lib/picture/js/jkresponsivegallery.js}"></script>
        <!--JS/JQuery-->
        <script>

            // 运行时间统计
            function secondToDate(second) {
                if (!second) {
                    return 0;
                }
                var time = new Array(0, 0, 0, 0, 0);
                if (second >= 365 * 24 * 3600) {
                    time[0] = parseInt(second / (365 * 24 * 3600));
                    second %= 365 * 24 * 3600;
                }
                if (second >= 24 * 3600) {
                    time[1] = parseInt(second / (24 * 3600));
                    second %= 24 * 3600;
                }
                if (second >= 3600) {
                    time[2] = parseInt(second / 3600);
                    second %= 3600;
                }
                if (second >= 60) {
                    time[3] = parseInt(second / 60);
                    second %= 60;
                }
                if (second > 0) {
                    time[4] = second;
                }
                return time;
            }



            function setTime() {
                /*此处为网站的创建时间*/
                var create_time = Math.round(new Date(Date.UTC(2020, 03, 25, 15, 15, 15)).getTime() / 1000);
                var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
                currentTime = secondToDate((timestamp - create_time));
                currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
                    + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
                    + '秒';
                document.getElementById("htmer_time").innerHTML = currentTimeHtml;
            }
            setInterval(setTime, 1000);


            $(function() {
                $('.rthumbnail').responsivegallery();
            });

            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            });
            $('#toolbar').click(function () {
                $(window).scrollTo(0, 500);
            });
        </script>

    </body>
</html>